[submodule "lib/lighter"]
	path = lib/lighter
	url = https://github.com/speakk/lighter.git
[submodule "lib/tiny"]
	path = lib/tiny
	url = https://github.com/bakpakin/tiny-ecs.git
[submodule "lib/hump"]
	path = lib/hump
	url = https://github.com/vrld/hump.git
[submodule "lib/windfield"]
	path = lib/windfield
	url = https://github.com/a327ex/windfield.git
[submodule "lib/sti"]
	path = lib/sti
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
